* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.containerDiv {
    display: inline-block;
    width: 100%;
    flex-direction: row;
    background-color: rgb(147, 3, 3);
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.3em;
    border-bottom-style: solid;
}

.tituloDiv {
    display: inline;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 1em;
    
    
}


a {
   display: inline;
   padding-left: 1em;
   text-decoration: none;
   color: white;

}

@media screen and (max-width:499px) {

    .containerDiv {

        justify-content: center;

    }
   
    .tituloDiv {
        padding: 10px;
        text-align: center;
    
    }
    
}

nav {

    float: right;
}
