.ContainerProductos {

display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 1em;
margin: 2em;
justify-content: center;
justify-items: center;

}

@media only screen and (max-width:900px) {
    
    .ContainerProductos {

        grid-template-columns: repeat(2,1fr);

    }


}

@media only screen and (max-width:600px) {
    
    .ContainerProductos {

        grid-template-columns: repeat(1,1fr);

    }


}